.single{
  border: 1px solid #FFF;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);
  border-radius: 20px;
  border-radius: 20px;
  padding: 0 30px;
  word-break: keep-all;
  border-bottom: 1px solid #F5F5F5 ;
  &__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #F5F5F5;
    padding:26px 0 12px;
    &__left{
      font-family: PingFangSC-Semibold;
      font-size: 32px;
      color: #3B3B3C;
      letter-spacing: 0;
      line-height: 45px;
    }
    &__right{
      background: #FFFFFF;
      border: 2px solid #EDEEEE;
      border-radius: 44px;
      border-radius: 44px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      &__play{
        width: 11.9px;
        height: 19.5px;
        margin-right: 8.1px;
      }
      &__content{
        font-family: PingFangSC-Regular;
        font-size: 22px;
        color: #626262;
        line-height: 30px;
      }
    }
  }
  &__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__left{
      padding: 20px 0 13px;
      border-bottom:  1px solid #F5F5F5;
      &__title{
        font-family: PingFangSC-Regular;
        font-size: 28px;
        color: #7D99BC;
      }
      &__vip{
        margin-top:6px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &__label{
          // width: 32px;
          height: 18px;
          background: #FFFFFF;
          border: 1px solid #F6CFC5;
          border-radius: 2px;
          border-radius: 2px;
          font-family: PingFangSC-Semibold;
          font-size: 12px; // H5字体12无效
          color: #EB846D;
          letter-spacing: 0;
          line-height: 18px;
          // margin-right: 7px;
          text-align: center;
          // transform: scale(0.5);
          display: inline-block;
          -webkit-transform-origin-x: 0;
          -webkit-transform: scale(0.8);
        }
        &__te{
          background: #EB4B42;
          color: #FFDED6;
        }
        &__subtitle{
          font-family: PingFangSC-Regular;
          font-size: 22px;
          color: #857F7F;
          letter-spacing: 0;
          width: 347px;
          height: 30px;
          line-height: 30px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          // text-align: center;
        }
      }
      &__label{
        margin-top: 6px;
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items: center;
        &__content{
          font-family: PingFangSC-Semibold;
          font-size: 12px;
          color: #F3D083;
          letter-spacing: 0;
          width:70px;
          height:22px;
          border-radius: 4px;
          border-radius: 4px;
          background: #FCF7E8;
          text-align: center;
          line-height: 20px;
          margin-right: 11px;
          display: inline-block;
          -webkit-transform-origin-x: 0;
          -webkit-transform: scale(0.8);
        }
        &__video{
          font-family: PingFangSC-Regular;
          font-size: 22px;
          color: #857F7F;
          letter-spacing: 0;
        }
      }
      &__welfare{
        margin-top: 6px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &__label{
          background: #896060;
          border-radius: 4px;
          border-radius: 4px;
          // width: 38px;
          height:22px;
          text-align: center;
          font-size: 12px;
          // -webkit-text-size-adjust: none;
          // -webkit-transform: scale(0.7,0.7);
          color: #FFDED6;
          letter-spacing: 0;
          line-height: 25px;
          margin-right: 7px;
          padding: 3px 5px;
          display: inline-block;
          -webkit-transform-origin-x: 0;
          -webkit-transform: scale(0.8);
        }
        &__price{
          font-family: PingFangSC-Semibold;
          font-size: 18px;
          color: #EC6460;
          letter-spacing: 0;
          line-height: 25px;
          margin-right: 3px;
        }
        &__vip{
          font-family: PingFangSC-Semibold;
          font-size: 18px;
          color: #404040;
          letter-spacing: 0;
          line-height: 25px;
        }
      }

    }
    &__right{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &__play{
        width: 30px;
        height:30px;
        margin-right: 54px;
      }
      &__more{
        height: 30px;
        width: 5px;
        padding-right: 37px;
      }
    }
  }
}