.single{
  border: 1px solid #FFF;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);
  padding: 0 30px;
  word-break: keep-all;
  border-bottom: 1px solid #F5F5F5 ;
  &__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #F5F5F5;
    padding:26px 0 12px;
    &__left{
      font-family: PingFangSC-Semibold;
      font-size: 32px;
      color: #3B3B3C;
      letter-spacing: 0;
      line-height: 45px;
    }
    &__right{
      background: #FFFFFF;
      border: 2px solid #EDEEEE;
      border-radius: 44px;
      border-radius: 44px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      &__play{
        width: 11.9px;
        height: 19.5px;
        margin-right: 8.1px;
      }
      &__content{
        font-family: PingFangSC-Regular;
        font-size: 22px;
        color: #626262;
        line-height: 30px;
      }
    }
  }
  &__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid #F5F5F5;
    &__left{
      padding: 20px 0 13px;
      &__title{
        font-family: PingFangSC-Regular;
        font-size: 28px;
        color: #7D99BC;
      }
      &__vip{
        margin-top:6px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &__label{
          // width: 32px;
          height: 18px;
          background: #FFFFFF;
          border: 1px solid #F6CFC5;
          border-radius: 2px;
          border-radius: 2px;
          font-family: PingFangSC-Semibold;
          font-size: 12px; // H5字体12无效
          color: #EB846D;
          letter-spacing: 0;
          line-height: 18px;
          margin-right: 7px;
          text-align: center;
          white-space:nowrap;
        }
        &__te{
          background: #EB4B42;
          color: #FFDED6;
        }
        &__subtitle{
          font-family: PingFangSC-Regular;
          font-size: 22px;
          color: #857F7F;
          letter-spacing: 0;
          width: 347px;
          height: 30px;
          line-height: 30px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      &__label{
        margin-top: 6px;
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items: center;
        &__content{
          font-family: PingFangSC-Semibold;
          font-size: 12px;
          color: #F3D083;
          letter-spacing: 0;
          width:78px;
          height:22px;
          border-radius: 4px;
          border-radius: 4px;
          background: #FCF7E8;
          text-align: center;
          line-height: 20px;
          margin-right: 11px;
        }
        &__video{
          font-family: PingFangSC-Regular;
          font-size: 22px;
          color: #857F7F;
          letter-spacing: 0;
          line-height: 22px;
          align-self: center;
        }
      }
      &__welfare{
        margin-top: 6px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &__label{
          background: #896060;
          border-radius: 4px;
          border-radius: 4px;
          // width: 38px;
          height:20px;
          text-align: center;
          font-size: 12px;
          color: #FFDED6;
          letter-spacing: 0;
          line-height: 20px;
          margin-right: 7px;
          padding: 1px 5px;
          align-self: center;
          box-sizing: border-box;
        }
        &__price{
          font-family: PingFangSC-Semibold;
          font-size: 18px;
          color: #EC6460;
          letter-spacing: 0;
          line-height: 25px;
          margin-right: 3px;
          align-self: center;
        }
        &__vip{
          font-family: PingFangSC-Semibold;
          font-size: 18px;
          color: #404040;
          letter-spacing: 0;
          line-height: 25px;
          align-self: center;
        }
      }

    }
    &__right{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &__play{
        width: 30px;
        height:30px;
        margin-right: 54px;
      }
      &__more{
        height: 30px;
        width: 5px;
        padding-right: 37px;
      }
    }
  }
}
.interested{
  border: 1px solid #FFF;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);
  padding: 26px  29px 0;
  &__top{
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #B3B3B3;
    line-height: 28px;
    padding-top: 30px;
    &__te{
      font-family: PingFangSC-Semibold;
      font-size: 32px;
      color: #3B3B3C;
      letter-spacing: 0;
    }
  }
  &__bottom{
    margin-top:23px;
    border-bottom: 1px solid  #F5F5F5;
    padding-bottom: 29px;
    &__recommend{
    }
    &__singer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 13px;
      &__left{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &__cover{
          width: 86px;
          height:86px;
          border: 1px solid #fff;
          border-radius: 50%;
          position: relative;
          &__icon{
            width: 30px;
            height: 30px;
            position: absolute;
            bottom:0;
            right:0;
            z-index:1;
          }
          &__image{
            width: 86px;
            height:86px;
            border: 1px solid #fff;
            border-radius: 50%;
          }
        }
        &__center{
          margin-left:22px;
          &__top{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            &__title{
              font-family: PingFangSC-Medium;
              font-size: 28px;
              color: #6A6060;
              line-height: 40px;
            }
            &__source{
              font-family: PingFangSC-Regular;
              font-size: 26px;
              color: #A1A1A1;
              letter-spacing: 0;
              line-height: 37px;
              margin-left:5px;
              width: 200px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          &__center{
            margin-top: 4px;
            font-family: PingFangSC-Regular;
            font-size: 20px;
            color: #7E7B7B;
            line-height: 28px;
          }
          &__bottom{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            &__image{
              width: 22px;
              height:17px;
              margin-right: 7px;
              align-self: center;
            }
            &__message{
              font-family: PingFangSC-Regular;
              font-size: 20px;
              color: #7D99BC;
              line-height: 28px;
              margin-right: 12px;
            }
            &__more{
              width: 7px;
              height:14px;
              align-self: center;
            }
          }
        }
      }
      &__right{
        background: #FFFFFF;
        border: 2px solid #F5C3C1;
        border-radius: 44px;
        border-radius: 44px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        &__add{
          width: 14px;
          height: 14px;
          margin-right: 6px;
          align-self: center;
        }
        &__follow{
          font-family: PingFangSC-Regular;
          font-size: 20px;
          color: #EB544E;
          line-height: 28px;
          align-self: center;
        }
      }
    }
    &__album{
      margin-top: 19px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &__left{
        width: 88px;
        height: 88px;
        border-radius: 10px;
        margin-right: 17px;
      }
      &__right{
        &__title{
          font-family: PingFangSC-Medium;
          font-size: 28px;
          color: #6A6060;
          line-height: 40px;
          margin-bottom: 4px;
        }
        &__subtitle{
          font-family: PingFangSC-Regular;
          font-size: 20px;
          color: #7E7B7B;
          line-height: 28px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          &__name{
            margin-right: 5px;
            align-self: center;
          }
          &__date{
            align-self: center;
          }
        }
      }
    }
    &__mv{
      margin-top:24px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &__left{
        position: relative;
        margin-right: 17px;
        width:120px;
        height:80px;
        &__image{
          width:120px;
          height:80px;
        }
        &__play{
          position: absolute;
          width: 26px;
          height: 30px;
          top: 50%;
          left: 50%;
          margin-top: -15px;
          margin-left: -15px;
          z-index:1;
        }
      }
      &__right{
        &__title{
          font-family: PingFangSC-Medium;
          font-size: 28px;
          color: #6A6060;
          line-height: 40px;
        }
        &__subtitle{
          font-family: PingFangSC-Regular;
          font-size: 20px;
          color: #7E7B7B;
          width: 450px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    &__song{
      margin-top:24px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &__left{
        position: relative;
        margin-right: 17px;
        align-self: center;
        width:88px;
        height:88px;
        &__image{
          width:88px;
          height:88px;
          border-radius: 10px;
          align-self: center;
        }
        &__play{
          position: absolute;
          width: 26px;
          height: 40px;
          left: 0;
          top:0;
          right: 0;
          bottom: 0;
          margin: auto;
          z-index:1;
        }
      }
      &__right{
        &__title{
          font-family: PingFangSC-Medium;
          font-size: 28px;
          color: #6A6060;
          line-height: 40px;
          width: 500px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &__subtitle{
          font-family: PingFangSC-Regular;
          font-size: 20px;
          color: #7E7B7B;
          width: 500px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &__label{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          &__content{
            font-family: PingFangSC-Semibold;
            color: #fc9591;
            font-size: 14px;
            background-color: #F3D083;
            letter-spacing: 0;
            line-height: 20px;
            margin-right: 11px;
          }
        }
      }
    }
    &__blog{
      margin-top:24px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &__left{
        position: relative;
        margin-right: 17px;
        &__image{
          width:88px;
          height:88px;
        }
        &__play{
          position: absolute;
          width: 26px;
          height: 40px;
          left: 0;
          top:0;
          right: 0;
          bottom: 0;
          margin: auto;
          z-index:1;
        }
      }
      &__right{
        &__title{
          font-family: PingFangSC-Medium;
          font-size: 28px;
          color: #6A6060;
          line-height: 40px;
        }
        &__subtitle{
          font-family: PingFangSC-Regular;
          font-size: 20px;
          color: #7E7B7B;
        }
        &__label{
          font-family: PingFangSC-Semibold;
          font-size: 12px;
          color: #EB846D;
          letter-spacing: 0;
          line-height: 17px;
        }
      }
    }
  }
  &__message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0 20px 0;
    &__content{
      font-family: PingFangSC-Regular;
      font-size: 22px;
      color: #9A9A9A;
      letter-spacing: 0;
      text-align: center;
      align-self: center;
      line-height: 30px;
    }
    &__more{
      width: 9px;
      height:18px;
      margin-left: 17px;
      align-self: center;
    }
  }
}
.recommend{
  padding: 0  29px 0;
  border-radius: 20px;
  &__bottom{
    padding-bottom: 0;
    border-bottom: none;
  }
  &__bottom:last-child{
    padding-bottom: 29px;
  }
}