@import './index.rn.scss';
// h5指示点样式设置
.swiper-pagination-bullet {
  // width: 20px !important;
  // height: 2px !important;
  background: rgba(66, 80, 107, 0.5) !important;
}
.swiper-pagination-bullet-active {
  background: rgba(222, 224, 230, 0.5) !important;
}
// .swiper-slide .hydrated {
//   width: 100%;
//   height: 100%;
// }
// weapp 指示点样式设置
.spot-pagination{
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 200;
  left: 30%;
  bottom:30px;
  .spot-pagination-bullet{
    width: 20px !important;
    height: 2px !important;
    background: rgba(66, 80, 107, 0.5) !important;
    margin-right: 14px;
  }
  .spot-pagination-bullet-active{
    background: rgba(222, 224, 230, 0.5) !important;

  }
}


.banner {
  box-sizing: border-box;
  position: relative;
  height: 300px;
  padding: 0 20px;
}
.banner--image{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}