.category {
  height: 150px;
  overflow: hidden;
  // box-sizing: border-box;
  border: 1px solid rgb(214, 214, 214);
  border-top: none;
  border-left: none;
  border-right: none;
  // background-color: pink;
  background-color: #fff;
  // 滚动条样式隐藏
  &__scroll{
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    height:160px;
    flex-direction: row;
    overflow-x: scroll;
    background-color: #fff;
    &--center{
      border: 1px solid rgb(243, 242, 241);
      border-radius: 40px;
      width: 80px;
      height:80px;
      margin-right: 40px;
      background-color: rgb(253, 242, 241);
      &--image {
        width: 40px;
        height: 40px;
        margin: 20px;
        // display: block;
        display: flex;
      }
    }
  }
}



