@import '../../../../app.rn';

.search-history {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //min-height: 70px;
  //max-height: 210px;
  margin-top: 38px;
  padding: 0 39px 0 30px;
  font-size: 28px;
  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    color: #3B3B3C;
    font-weight: bold;
  }
  &__tag {
    margin-left: 16px;
    flex: 1;
    max-width: 80%;
    overflow: hidden;
    &__scroll {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      &__item {
        @include row-center;
        @include text-ellipsis;
        height: 54px;
        box-sizing: border-box;
        margin-left: 16px;
        // margin-bottom: 16px;
        background: #F8F8F8;
        border-radius: 26.5px;
        padding: 0 24px;
        font-size: 22px;
        color: #606060;
      }
    }
  }
  &__clear {
    width: 26px;
    height: 29px;
  }
}
