.player__top{
  margin-top: 10px;
  &__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__left{
      width: 46px;
      height:24px;
    }
    &__conter{
      text-align: center;
      &__main{
        font-size: 32px;
        color: #FFF;
        line-height: 45px;
        opacity: 0.8;
        max-width: 360px;
        overflow: hidden;
        height: 45px;
        font-family: PingFangSC-Regular;
      }
      &__vice{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 33px;
        &__message{
          opacity: 0.6;
          font-family: PingFangSC-Regular;
          font-size: 24px;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 33px;
        }
        &__add{
          position: relative;
          margin-left: 10px;
          align-self: center;
          &__image{
          width:26px;
          height:19px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
    }
    &__right{
      margin-left: 14px;
      // rn 兼容
      display: flex;
      flex-direction: row;
      align-items: center;
      &__cover{
        width: 64px;
        height:64px;
      }
      &__share{
        width:36px;
        height:36px;
        margin-left: 38px;
      }
    }
  }
  &__bottom{
    margin-top: 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__volume{
      width: 39px;
      height: 30px;
    }
    &__progress{
      margin-left: 29px;
      margin-right: 27px;
      width: 556px;
      // 
    }
    &__radar{
      width:36px;
      height:36px;
    }
  }
}