.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #eee;
  padding: 0 20px;
  box-sizing: border-box;
  &--scrolling {
    background-color: #fff;
  }
  &--block {
  }
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  &__icon {
    width: 36px;
    height: 28px;
  }
  &__voice {
    width: 32px;
    height: 40px;
  }
  &__input-bg {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    height: 60px;
    margin: 0 20px;
    &--scrolling {
      background-color: #eee;
    }
    &__icon {
      width: 30px;
      height: 30px;
    }
    &__text {
      font-size: 30px;
      margin-left: 20px;
      color: #ccc;
    }
  }
}
