@import '../../../../app.rn';

.player-header {
  height: 169px;
  padding: 20px 36px 0;
  box-sizing: border-box;
  @include row-center;
  &__wrapper {
    margin-top: 10px;

    &__top {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__back {
        width: 46px;
        height: 24px;
      }

      &__content {
        position: absolute;
        top: 0;
        left: 0;
        @include col-center;
        width: 100%;
        text-align: center;

        &__main {
          font-size: 32px;
          color: #FFF;
          line-height: 45px;
          opacity: 0.8;
          max-width: 360px;
          overflow: hidden;
          height: 45px;
        }

        &__artist {
          @include row-center;
          height: 33px;

          &__message {
            opacity: 0.6;
            font-size: 24px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 33px;
          }

          &__add {
            width: 26px;
            height: 19px;
            margin-left: 10px;
          }
        }
      }

      &__right {
        margin-left: 14px;
        // rn 兼容
        display: flex;
        flex-direction: row;
        align-items: center;

        &__cover {
          width: 64px;
          height: 64px;
          border-radius: 100px;
        }

        &__share {
          width: 36px;
          height: 36px;
          margin-left: 38px;
        }
      }
    }

    &__bottom {
      margin-top: 31px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__volume {
        width: 39px;
        height: 30px;
      }

      &__progress {
        margin-left: 29px;
        margin-right: 27px;
        width: 556px;
      }

      &__radar {
        width: 36px;
        height: 36px;
      }
    }
  }
}
