.player{
  background-color: rgb(50, 57, 64);
  padding: 10px 36px 104px ;
  &__top{
    display: flex;
    flex-direction: column;
    &__top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &__left{
        width: 46px;
        height:24px;
      }
      &__conter{
        text-align: center;
        &__main{
          font-size: 32px;
          color: #FFF;
          line-height: 45px;
          opacity: 0.8;
          max-width: 360px;
          overflow: hidden;
          height: 45px;
          font-family: PingFangSC-Regular;
        }
        &__vice{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: 33px;
          &__message{
            opacity: 0.6;
            font-family: PingFangSC-Regular;
            font-size: 24px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 33px;
          }
          &__add{
            width:26px;
            height:19px;
            margin-left: 10px;
            opacity: 0.5;
            background: #FFFFFF;
            border-radius: 12.5px;
            border-radius: 12.5px;
            position: relative;
            &__image{
              width: 12px;
              height: 12px;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
            }
          }
        }
      }
      &__right{
        margin-left: 14px;
        &__cover{
          width: 64px;
          height:64px;
        }
        &__share{
          width:36px;
          height:36px;
          margin-left: 38px;
        }
      }
    }
    &__bottom{
      margin-top: 31px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &__volume{
        width: 29px;
        height: 30px;
      }
      &__progress{
        margin-left: 29px;
        margin-right: 27px;
        height: 4px;
        width: 556px;
        background-color: #fff;
      }
      &__radar{
        width:36px;
        height:36px;
      }
    }
  }
  &__conter{
    margin: 10px 0 ;
  }
  &__bottom{
    height:500px; //测试
    // border: 1px solid red;
    &__top{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &__left, &__right{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        &__play{
          width:42px;
          height:42px;
          margin-right: 35px;
        }
        &__stars{
          width: 50px;
          height: 50px;
        }
      }
      &__right{
        &__sing{
          width: 51px;
          height:36px;
        }
        &__more{
          width: 41px;
          height: 41px;
          margin-left: 36px;
        }
      }
    }
    &__conter{
      margin-top: 39px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &__start_time,&__end_time{
        opacity: 0.5;
        font-family: PingFangSC-Regular;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 25px;
      }
      &__progress{
        width: 556px;
        margin: 0 12px;
        height:4px;
        background-color: #fff;
      }
    }
    &__bottom{
      margin-top: 51px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &__play-order{
        width: 46px;
        height:42px;
        margin-right: 95px;
      }
      &__last-song,&__nest-song{
        width: 37px;
        height: 38px;
      }
      &__nest-song{}
      &__play{
        width: 116px;
        height: 116px;
        margin: 0 66px 0 60px;
      }
      &__play-list{
        margin-left: 100px;
        width: 38px;
        height: 30px;
      }
    }
  }
}