.search-recommend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  padding: 20px;
  box-sizing: border-box;
  &__label {
    font-size: 24px;
    color: #333;
  }
  &__tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    flex: 1;
    max-width: 80%;
    overflow: hidden;
    &__text {
      margin: 0 14px;
      font-size: 24px;
      color: royalblue;
    }
  }
}
