@import './index.rn.scss';
.search{
  background-color: rgb(238, 231, 231);
  &__menu-icon, &__video-icon{
    width: 60px;
    line-height: 60px;
    display: block;
    font-size: 40px;
    // .hydrated {
    //   width: 40px;
    //   height: 40px;
    //   position: relative;
    //   z-index: 20;
    // }
  }
  &__menu-icon{
    position: relative;
    margin-right: 10px;
    &--message {
      // position: absolute;
      top: 0;
      right: 10px;
      // font-size: 18px;
      // width: 25px;
      // height: 25px;
      border-radius: 25px;
      z-index: 21;
      line-height: 25px;
    }
    &--menu-img {
      width: 40px;
      height: 40px;
    }
  }
  &__video-icon{
    font-size: 50px;
    margin-left: 10px;
  }
}

.search__search-input {
  width:  100%;
  .at-icon {
    font-size: 30px !important;
    margin: 0;
    margin-left: 50px;
  }
  .weui-input {
    font-size: 24px;
    margin: 0;
    border: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
  .at-input {
    padding: 0;
    margin-left: 10px !important;
    width: 83%;
    box-sizing: border-box;
    background-color: #fff;
    .at-input__input{
      padding: 0;
    }
  }
  .at-inpit::after{
    border-bottom: none !important;
  }

}
