@import "~taro-ui/dist/style/index.scss";
@import "./app.rn.scss";

@mixin text-ellipsis2 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
